# Project info
[DEFAULT]
project_folder: /storage/projects/%(project_name)s/
project_name:   NIBR_YvsO_cyl

# Project dependencies
[DEPENDENCIES]
pipeline_dir:     /storage/cylin/home/cl6/pipeline/
genome:           hg19
annotation_file:  %(pipeline_dir)s/annotation/%(genome)s_refseq.ucsc
mask_file:        /grail/genomes/Homo_sapiens/UCSC/hg19/Annotation/Masks/hg19_encode_blacklist.bed
genome_directory: /grail/genomes/Homo_sapiens/UCSC/hg19/Sequence/Chromosomes/
gtf_file:         /grail/gtf/genes.gtf
py27_path:        /opt/bin/python
fpkm_table:       %(project_folder)s/cufflinks/NIBR_YvsO_cuffnorm/genes.fpkm_table
crc_path:         /bin/crc

# Project folder
[PROJECT_FOLDERS]
gff_folder:             %(project_folder)s/gff/
macs_folder:            %(project_folder)s/macsFolder/
macs_enriched_folder:   %(project_folder)s/macsEnriched/
mapped_enriched_folder: %(project_folder)s/mappedEnriched/
mapped_folder:          %(project_folder)s/mappedFolder/
wiggles_folder:         %(project_folder)s/wiggles/
meta_folder:            %(project_folder)s/meta/
meta_rose_folder:       %(project_folder)s/meta_rose/
fasta_folder:           %(project_folder)s/fasta/
beds_folder:            %(project_folder)s/beds/
figure_code_folder:     %(project_folder)s/figureCode/
figures_folder:         %(project_folder)s/figures/
gene_list_folder:       %(project_folder)s/geneListFolder/
signal_tables_folder:   %(project_folder)s/signalTables/
tables_folder:          %(project_folder)s/tables/
gene_plot_folder:       %(project_folder)s/gene_plot/

# following section variables' values must be written as python literals (strings)
[DATA_TABLES]
atac_table: '%(project_folder)s/data_tables/NIBR_ATAC_TABLE.txt'
chip_table: '%(project_folder)s/data_tables/NIBR_CHIP_TABLE.txt'
rna_table:  '%(project_folder)s/data_tables/NIBR_RNA_TABLE.txt'

# following section variables' values must be written as python literals (list of strings)
[GLOBAL_NAMES_LIST]
young_h3k27ac_list: ['Y_H3K27ac_1', 'Y_H3K27ac_2', 'Y_H3K27ac_3']
old_h3k27ac_list:   ['O_H3K27ac_1', 'O_H3K27ac_2', 'O_H3K27ac_3']
young_brd4_list:    ['Y_BRD4_1', 'Y_BRD4_2']
old_brd4_list:      ['O_BRD4_1', 'O_BRD4_2']
young_atac_list:    ['Y_ATAC_1', 'Y_ATAC_2', 'Y_ATAC_3', 'Y_ATAC_4', 'Y_ATAC_6']
old_atac_list:      ['O_ATAC_1', 'O_ATAC_2', 'O_ATAC_4', 'O_ATAC_6']
chip_list_no_input: ['Y_H3K27ac_1', 'Y_H3K27ac_2', 'Y_H3K27ac_3', 'O_H3K27ac_1', 'O_H3K27ac_2', 'O_H3K27ac_3', 'Y_BRD4_1', 'Y_BRD4_2', 'O_BRD4_1', 'O_BRD4_2']
young_rna_list:     ['Y_BC10_Y1','Y_BC11_Y2','Y_BC16_Y3']
old_rna_list:       ['O_BC18_O1','O_BC25_O2','O_BC27_O3']
